# Environment variables
.env

# Datasets
dataset-kaggle/

# Old models and weight downloads (ignoring unused ones)
models/best_final_model.keras
models/best_finetuned_knee_model.keras
models/best_ordinal_knee_model.keras
models/best_weighted_model.keras
models/ResNet50_Ordinal.keras
models/xception_weights_tf_dim_ordering_tf_kernels_notop.h5
models/model.Xception.keras
models/model.EfficientNet*
models/model.MobileNetV2_Frozen.keras
models/model.MobileNetV2_Final.keras

# Old notebooks
data-sprint-35-osteoarthritis-kneexray.ipynb

# Python specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
.venv/
env/
.env/

# OS specific
.DS_Store
Thumbs.db

# Output PDFs
*.pdf
logs-shreyas-mohan-aip-project-main-app.py-2026-04-06T09_04_03.790Z.txt
